.AddTodo {
  width: 100%;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: none;
  &.Input {
    font-size: 25px;
  }

  &.Button {
    background-color: gray;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;

    letter-spacing: 4px;
  }
  &.Button:focus {
    border: none;
  }
  &.Button:hover {
    background-color: orange;
    color: black;
  }
}
